<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherD">
  <div class="upper-data">
    <img src="../assets/hotWeather.webp" *ngIf="weatherD.main.temp-273.15>15">
    <img src="../assets/coldWeather.jpeg" *ngIf="weatherD.main.temp-273.15<=15">
    <div class="weather-data">
      <div class="location">{{weatherD.name}}</div>
      <div class="temperature">{{weatherD.main.temp-273.15| number:'1.0-0'}}°C</div>

    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherD.main.temp_min-273.15 | number:'1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherD.main.temp_max-273.15 | number:'1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/download.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherD.main.humidity}}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpeg">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherD.wind.speed}} Km/h
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>




<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/hotWeather.webp" *ngIf="14>15">
    <img src="../assets/coldWeather.jpeg" *ngIf="14<=15">
    <div class="weather-data">
      <div class="location">Fremont</div>
      <div class="temperature">{{14.40 | number:'1.0-0'}}°C</div>

    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          15°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/download.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          10%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpeg">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          12Km/h
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet> -->